In [2]:
import sqlite3

In [3]:
import pandas as pd

In [4]:
with sqlite3.connect("../laliga.sqlite") as conn:
    df = pd.read_sql("SELECT * FROM Matches", con = conn)

In [5]:
df.head()

,season,division,matchday,date,time,home_team,away_team,score
0,1928-1929,1,1,2/10/29,None,Arenas Club,Athletic Madrid,2:3
1,1928-1929,1,1,2/10/29,None,Espanyol,Real Unión,3:2
2,1928-1929,1,1,2/10/29,None,Real Madrid,Catalunya,5:0
3,1928-1929,1,1,2/10/29,None,Donostia,Athletic,1:1
4,1928-1929,1,1,2/12/29,None,Racing,Barcelona,0:2

In [6]:
df2 = df.loc[~df.score.isnull()]
df2["score"].head()

0    2:3
1    3:2
2    5:0
3    1:1
4    0:2
Name: score, dtype: object

In [7]:
def parse_score(score_as_string):
home_goals, away goal = map(int, score_as_string.split(:))
home_goals = int(home goals)
away_goals = int(away goals) 
....
if elif
else

IndentationError: expected an indented block (<ipython-input-7-62b2e73fa20d>, line 2)

In [ ]:
df["results"] = df["score"].apply(parse_score)

In [ ]:
df["results"].value_counts().plot(kind = pie)

In [ ]:
#######8 features